<template>
    <v-card>
        <v-container>
            <v-layout column>
                <v-text-field v-model="step.name" label="Название"></v-text-field>
                <v-select :items="types" item-value="type" item-text="name" label="Тип" v-model="step.type"></v-select>
                <v-select :items="types" v-if="step.switchable" item-value="type" item-text="name" label="Второй тип"
                          v-model="step.type2"></v-select>
                <v-textarea v-if="step.type === 'step' || (step.type2 === 'step' && step.switchable)"
                            v-model="step.text" label="Текст"></v-textarea>
                <v-text-field v-if="step.type === 'video' || (step.type2 === 'video' && step.switchable)"
                              v-model="step.YTurl"
                              label="Embed-ссылка на видео (виджет или иную встраиваемую страницу)"></v-text-field>
                <v-layout row>
                    <v-tooltip bottom>
                        <v-switch prepend-icon="settings" slot="activator" v-model="step.switchable"></v-switch>
                        <span>Данный блок будет переключать свой тип на указанный вторым в 23:00</span>
                    </v-tooltip>
                    <v-spacer></v-spacer>
                    <v-btn icon @click.stop="moveUp" v-if="selfIndex != 0">
                        <v-icon>arrow_upward</v-icon>
                    </v-btn>
                    <v-btn icon @click.stop="moveDown" v-if="selfIndex != steps.length - 1">
                        <v-icon>arrow_downward</v-icon>
                    </v-btn>
                    <v-btn icon @click.stop="removeSelf">
                        <v-icon>delete</v-icon>
                    </v-btn>
                </v-layout>
            </v-layout>
        </v-container>
    </v-card>
</template>

<script>
    export default {
        name: "StepCard",
        props: ["step", "steps"],
        data() {
            return {
                types: [
                    {
                        name: "Видео",
                        type: "video"
                    },
                    {
                        name: "Текст",
                        type: "step"
                    },
                ],
            }
        },
        methods: {
            removeSelf() {
                let index = this.steps.indexOf(this.step);
                if (index !== -1) this.steps.splice(index, 1);
            },
            moveDown() {
                this.$emit("moveDown", this.selfIndex)
            },
            moveUp() {
                this.$emit("moveUp", this.selfIndex)
            }
        },
        computed: {
            selfIndex() {
                return this.steps.indexOf(this.step);
            }
        }
    }
</script>

<style scoped>

</style>
