<template>
    <v-card>
        <v-card-title primary-title>
            <div class="headline">{{ task.title }}</div>
        </v-card-title>
        <v-container v-if="mode === 'hide'">
            <v-text-field v-model="task.title" label="Название задачи"></v-text-field>
            <v-layout row>
                <v-text-field v-model="task.button1_text" label="Надпись на кнопке"></v-text-field>
                <v-text-field v-model="task.button1_url" label="URL кнопки"></v-text-field>
            </v-layout>
            <v-layout row>
                <v-text-field v-model="task.senler_ok" label="Senler группа при успехе"></v-text-field>
                <v-text-field v-model="task.senler_not_ok" label="Senler группа при неудаче"></v-text-field>
            </v-layout>
            <v-layout column>
                <v-textarea v-model="task.button1_descr" label="Описание под кнопкой"></v-textarea>
                <div class="headline" style="margin-bottom: 0.5em;">Дата и время переключения блокировки:</div>
                <v-layout row justify-space-around wrap class="adapt_horiz">
                    <v-date-picker locale="ru-ru" reactive landscape class="elevation-3" v-model="date"></v-date-picker>
                    <v-time-picker landscape class="elevation-3" :allowed-minutes="v => v === 0" format="24hr"
                                   v-model="time"></v-time-picker>
                </v-layout>
                <v-layout align-stretch column class="adapt_vert">
                    <v-date-picker locale="ru-ru" reactive class="elevation-3" v-model="date"></v-date-picker>
                    <v-time-picker class="elevation-3" :allowed-minutes="v => v === 0" format="24hr"
                                   v-model="time"></v-time-picker>
                </v-layout>
                <v-text-field type="number" v-model="task.days_after"
                              label="Количество дней перед открытием следующей задачи [В разработке]"></v-text-field>
                <v-btn @click.stop="save" round>
                    <v-icon>save</v-icon>
                </v-btn>
                <v-card style="margin-top: 20px; margin-bottom: 0;" elevation="10">
                    <v-card-title>
                        <div class="headline">Файлы</div>
                    </v-card-title>
                    <v-card-text>
                        <v-list>
                            <div v-if="task.files.length">
                                <v-list-tile v-for="file in task.files.split(' ')" :key="file" @click="">
                                    <v-list-tile-content><a :href="generateLink(file)">{{decodeFilename(file)}}</a>
                                    </v-list-tile-content>
                                    <v-list-tile-action>
                                        <v-btn icon @click.stop="deleteFile(file)">
                                            <v-icon>delete</v-icon>
                                        </v-btn>
                                    </v-list-tile-action>
                                </v-list-tile>
                            </div>
                            <file-upload v-if="showUploader"
                                         :url='$store.state.api_origin + "/admin/post/uploadFile.php"'
                                         :thumb-url='onUpload'
                                         accept="*"
                                         max-size="314572800"
                                         :headers="{'password': 'qwertydsa', 'taskid': task.task_id}"
                                         :id="'fileUploader' + task.task_id"
                            ></file-upload>
                            <v-btn v-else @click="$emit('switchUpload')">Показать загрузчик</v-btn>
                            <!--<v-btn block>-->
                            <!--<v-icon>add</v-icon>-->
                            <!--</v-btn>-->
                        </v-list>
                    </v-card-text>
                </v-card>
                <v-layout style="margin-top: 2em;">
                    <v-switch v-model="requestPhone" label="Запрашивать телефон (применяется при нажатии)"></v-switch>
                </v-layout>
            </v-layout>
        </v-container>
        <v-container v-if="mode === 'edit'">
            <v-layout column v-if="editing === 'steps'">
                <StepCard v-for="step in steps" :key="step.name" :step="step" :steps="steps" v-on:moveUp="moveUp"
                          v-on:moveDown="moveDown"></StepCard>
                <v-btn @click.stop="addStep(steps)" round>
                    <v-icon>add_box</v-icon>
                </v-btn>
                <v-btn @click.stop="save" round>
                    <v-icon>save</v-icon>
                </v-btn>
            </v-layout>
            <v-layout column v-if="editing === 'stepsLock'">
                <StepCard v-for="step in stepsLock" :key="step.name" :step="step" :steps="stepsLock"
                          v-on:moveUp="moveUpLock" v-on:moveDown="moveDownLock"></StepCard>
                <v-btn @click.stop="addStep(stepsLock)" round>
                    <v-icon>add_box</v-icon>
                </v-btn>
                <v-btn @click.stop="save" round>
                    <v-icon>save</v-icon>
                </v-btn>
            </v-layout>
        </v-container>
        <v-card-actions>
            <v-container>
                <v-layout row align-center wrap class="stepsLayout">
                    <v-btn @click.stop="edit('steps')" round>
                        <v-icon>edit</v-icon>
                    </v-btn>
                    <v-btn @click.stop="edit('stepsLock')" round>
                        <v-icon>edit</v-icon>
                        <v-icon>lock</v-icon>
                    </v-btn>
                    <v-switch :append-icon="taskBlocked ? 'lock' : 'lock_open'" v-model="taskBlocked"></v-switch>
                </v-layout>
            </v-container>
        </v-card-actions>
    </v-card>
</template>

<script>
    import StepCard from "./StepCard"

    export default {
        name: "TaskCard",
        props: ["task", "showUploader"],
        data() {
            return {
                taskBlocked: parseInt(this.task.blocked),
                mode: "hide",
                editing: null,
                steps: JSON.parse(this.task.descr),
                stepsLock: JSON.parse(this.task.lock_descr.trim() ? this.task.lock_descr : "[]"),
                date: this.task.blocked_switch_time.split(" ")[0],
                time: this.task.blocked_switch_time.split(" ")[1],
                requestPhone: parseInt(this.task.request_phone)
            }
        },
        components: {
            StepCard
        },
        watch: {
            taskBlocked() {
                fetch(this.$store.state.api_origin + "/admin/get/blocking.php?password=" + this.$store.state.password
                    + "&task_id=" + this.task.task_id
                    + "&blocked=" + this.taskBlocked);
                this.task.blocked = this.taskBlocked ? "1" : "0";
            },
            requestPhone() {
                fetch(this.$store.state.api_origin + "/admin/get/requestphone.php?password=" + this.$store.state.password
                    + "&task_id=" + this.task.task_id
                    + "&request_phone=" + this.requestPhone);
                this.task.request_phone = this.requestPhone ? "1" : "0";
            },
            task() {
                this.steps = JSON.parse(this.task.descr);
                this.stepsLock = JSON.parse(this.task.lock_descr.trim() ? this.task.lock_descr : "[]");
            }
        },
        methods: {
            edit(t) {
                if (this.mode === "edit" && this.editing === t) {
                    this.mode = "hide";
                    this.editing = null;
                    return;
                }
                this.mode = "edit";
                this.editing = t;
            },
            addStep(obj) {
                const newStep = {
                    name: "Шаг " + (obj.length + 1),
                    type: "",
                    YTurl: "",
                    text: ""
                };
                obj.push(newStep);
            },
            save() {
                if (this.editing === "steps") { // noinspection JSPrimitiveTypeWrapperUsage (WebStorm is confused)
                    this.task.descr = JSON.stringify(this.steps);
                }
                if (this.editing === "stepsLock") { // noinspection JSPrimitiveTypeWrapperUsage (WebStorm is confused)
                    this.task.lock_descr = JSON.stringify(this.stepsLock);
                }
                let body = new FormData;

                body.append("password", this.$store.state.password);

                // this.task.blocked_switch_time =

                for (let key in this.task) {
                    if (this.task.hasOwnProperty(key))
                        body.append(key, this.task[key]);
                }

                body.delete("blocked_switch_time");
                body.append("blocked_switch_time", this.date + " " + this.time);

                fetch(this.$store.state.api_origin + "/admin/post/saveTask.php", {
                    method: 'POST',
                    body: body
                }).then((resp) => {
                    return resp.text();
                }).then(() => {
                    this.$emit("submit");
                })
            },
            moveUp(event) {
                let x = this.steps[event];
                this.steps[event] = this.steps[event - 1];
                this.steps[event - 1] = x;
                let steps = JSON.parse(JSON.stringify(this.steps));
                this.steps = [];
                this.steps = JSON.parse(JSON.stringify(steps));
            },
            moveUpLock(event) {
                let x = this.stepsLock[event];
                this.stepsLock[event] = this.stepsLock[event - 1];
                this.stepsLock[event - 1] = x;
                let steps = JSON.parse(JSON.stringify(this.stepsLock));
                this.stepsLock = [];
                this.stepsLock = JSON.parse(JSON.stringify(steps));
            },
            moveDown(event) {
                let x = this.steps[event];
                this.steps[event] = this.steps[event + 1];
                this.steps[event + 1] = x;
                let steps = JSON.parse(JSON.stringify(this.steps));
                this.steps = [];
                this.steps = JSON.parse(JSON.stringify(steps));
            },
            moveDownLock(event) {
                let x = this.stepsLock[event];
                this.stepsLock[event] = this.stepsLock[event + 1];
                this.stepsLock[event + 1] = x;
                let steps = JSON.parse(JSON.stringify(this.stepsLock));
                this.stepsLock = [];
                this.stepsLock = JSON.parse(JSON.stringify(steps));
            },
            generateLink(filename) {
                return this.$store.state.api_origin + "/download.php?filename=files/task/" + this.task.task_id + "/" + filename;
            },
            decodeFilename(filename) {
                return decodeURIComponent(filename).replace(/\+/g, " ")
            },
            onUpload() {
                this.$emit("reload")
            },
            deleteFile(filename) {
                let data = new FormData();
                data.append("password", this.$store.state.password);
                data.append("task_id", this.task.task_id);
                data.append("filename", filename);
                fetch(this.$store.state.api_origin + "/admin/post/deleteFile.php", {
                    method: "post",
                    body: data
                }).then(resp => resp.text()).then(() => {
                    this.$emit("reload")
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    .v-card {
        margin-bottom: 3em;
    }

    .stepsLayout > * {
        margin-right: 1em;
    }

    @media screen and (min-width: 769px) {
        .adapt_vert {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        .adapt_horiz {
            display: none;
        }
    }
</style>
