<template>
    <v-container>
        <v-layout text-xs-center wrap>
            <v-flex xs12>
                <v-card>
                    <v-card-title primary-title>
                        <div class="headline">Выберите курс</div>
                    </v-card-title>
                    <div>
                        <v-select
                                v-model="selectedCourse"
                                :items="$store.state.config.courses"
                                item-text="course_name"
                                item-value="origin"
                                :hint="selectedCourse"
                                label="Курс">
                        </v-select>
                    </div>
                    <v-card-actions>
                        <v-btn flat @click="choose">Выбрать</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "ChooseCourseScreen",
        data() {
            return {
                selectedCourse: null
            }
        },
        methods: {
            choose() {
                this.$store.commit("WRITE_COURSE", this.selectedCourse);
                this.$store.commit("WRITE_STATE", "main");
            }
        }
    }
</script>

<style scoped>
    .v-select {
        margin-left: 1em;
        margin-right: 1em;
    }
</style>