<template>
    <v-container>
        <v-progress-circular indeterminate></v-progress-circular>
    </v-container>
</template>

<script>
    export default {
        name: "LoadingScreen"
    }
</script>

<style scoped lang="scss">
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>