<template>
    <v-container>
        <v-layout text-xs-center wrap>
            <v-flex xs12>
                <v-card>
                    <v-card-title primary-title>
                        <div class="headline">Введите пароль</div>
                    </v-card-title>
                    <div>
                        <v-text-field autofocus label="Пароль" v-model="password" type="password" @keypress="keyPressed"></v-text-field>
                    </div>
                    <v-card-actions>
                        <v-btn flat @click="login">Войти</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "LoginPage",
        data() {
            return {
                password: ""
            }
        },
        methods: {
            login() {
                let pwd = this.password;
                this.$store.commit("WRITE_PASSWORD", pwd);
                this.$store.dispatch("loadConfig");
            },
            keyPressed(event) {
                if (event.key === "Enter")
                    this.login();
            }
        }
    }
</script>

<style scoped lang="scss">
    .v-text-field {
        margin-left: 1em;
        margin-right: 1em;
    }
</style>