<template>
    <v-container>
        <v-layout text-xs-center wrap>
            <v-flex xs12>
                <TasksCheck v-if="$store.state.page === 'check'"></TasksCheck>
                <TasksEdit v-else-if="$store.state.page === 'edit'"></TasksEdit>
                <MassAccept v-else-if="$store.state.page === 'mass'"></MassAccept>
                <StatsPage v-else-if="$store.state.page === 'stats'"></StatsPage>
                <UsersPage v-else-if="$store.state.page === 'users'"></UsersPage>
                <TestEditPage v-else-if="$store.state.page === 'editTest'"></TestEditPage>
                <TestData v-else-if="$store.state.page === 'testData'"></TestData>
                <ConfigPage v-else-if="$store.state.page === 'config'"></ConfigPage>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import MassAccept from "../components/MassAccept";
    import StatsPage from "../components/StatsPage";

    export default {
        name: "MainScreen",
        components: {
            StatsPage,
            MassAccept,
            TasksCheck: () => import(/* webpackChunkName: 'TasksCheck' */ "../components/TasksCheck"),
            TasksEdit: () => import(/* webpackChunkName: 'TasksEdit' */ "../components/TasksEdit"),
            UsersPage: () => import(/* webpackChunkName: 'UsersPage' */ "../pages/UsersPage"),
            TestEditPage: () => import(/* webpackChunkName: 'TestEditPage' */ "../pages/TestEditPage"),
            TestData: () => import(/* webpackChunkName: 'TestData' */ "../views/TestData"),
            ConfigPage: () => import(/* webpackChunkName: 'ConfigPage' */ "../pages/ConfigPage"),
        }
    }
</script>

<style scoped>
</style>
