<template>
    <v-container>
        <v-layout text-xs-center justify-center wrap>
            <v-btn @click="downloadReport()" round>Скачать данные таблицей</v-btn>
        </v-layout>
        <br>
        <v-layout text-xs-center wrap>
            <v-flex xs12>

                <v-card v-for="item in data" :key="item.vk_uid" class="mycard">
                    <v-card-text>
                        <a :href="item.vk_uid > 0 ? 'https://vk.com/id' + item.vk_uid : 'mailto:' + item.email"
                           :target="item.vk_uid > 0 ? '_blank' : null">
                            <v-avatar>
                                <img :src="item.avatar_uri || 'https://vk.com/images/camera_200.png?ava=1'" alt="">
                            </v-avatar>
                        </a>
                        {{ item.name }}
                        <v-spacer></v-spacer>
                        <font :color="parseInt(item.score) >= parseInt(item.min_win) ? '00FF00' : 'FF0000'">{{
                            item.score }} / {{ item.max_score }};</font>
                        <v-spacer></v-spacer>
                        {{ item.phone }}&nbsp;&nbsp;
                        <v-btn @click.stop="hide(item)" flat
                               :title="parseInt(item.hidden) ? 'Пометить невыполненным' : 'Пометить выполненным'">
                            <v-icon>{{ parseInt(item.hidden) ? 'clear' : 'done' }}</v-icon>
                        </v-btn>
                    </v-card-text>
                </v-card>
                <v-spacer></v-spacer>
                <v-pagination circle :length="length" v-model="page_number"></v-pagination>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "TestData",
        data() {
            return {
                data: [],
                page_size: 20,
                page_number: 1,
                length: 0,
                ticker: null
            }
        },
        computed: {
            offset() {
                return (this.page_number - 1) * this.page_size;
            }
        },
        created() {
            this.loadData();
            this.ticker = setInterval(this.loadData, 5000);
        },
        methods: {
            loadData() {
                fetch(this.$store.state.api_origin + "/admin/get/test_data.php?password=" + this.$store.state.password
                    + "&origin=" + this.$store.state.course.origin
                    + "&offset=" + this.offset
                    + "&count=" + this.page_size)
                    .then(resp => resp.json())
                    .then(json => {
                        this.data = json.data;
                        this.length = Math.ceil(json.count / this.page_size);
                    })
            },
            hide(item) {
                fetch(this.$store.state.api_origin + "/admin/get/hide_test_data_item.php?password=" + this.$store.state.password
                    + "&origin=" + this.$store.state.course.origin
                    + "&vk_uid=" + item.vk_uid).then(() => this.loadData())
            },
            downloadReport() {
                window.open(this.$store.state.api_origin + '/admin/get/archiveTestResults.php?password=' + this.$store.state.password
                    + '&origin=' + this.$store.state.course.origin, '_blank');
            }
        },
        watch: {
            page_number() {
                this.loadData();
            }
        }
    }
</script>

<style scoped lang="scss">
    .mycard {
        margin-bottom: 10px;

        & > .v-card__text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & > * {
                margin-right: 10px;
            }
        }
    }
</style>
