<template>
    <v-container>
        <v-layout column align-stretched>
            <v-card>
                <v-card-title>
                    <div class="headline">Настройки курса на
                        <i>
                            <a target="_blank" :href="'https://' + course.origin">{{ course.origin }}</a>
                        </i>
                    </div>
                </v-card-title>
                <v-card-text>
                    <v-text-field label="Название курса" v-model="course.course_name"></v-text-field>
                    <!--<v-textarea solo label="Текст над приветственным видео" v-model="course.hello_text"></v-textarea>-->
                    <v-text-field label="Ссылка на приветственное видео" v-model="course.iframe_link"></v-text-field>
                    <v-text-field label="Группа ВК, за которой закреплен Senler"
                                  v-model="course.senler_group"></v-text-field>
                    <v-text-field label="Основная группа подписчиков в Senler"
                                  v-model="course.senler_default_group"></v-text-field>
                    <v-text-field label="Группа ВК для виджета ВК" v-model="course.vk_msg_widget_id"></v-text-field>
                    <v-select :items="themes" item-value="value" item-text="name"
                              label="Тема оформления [в разработке]" v-model="course.theme"></v-select>
                    <v-layout row align-center style="justify-content: start;">
                        <v-tooltip top>
                            <v-switch slot="activator" v-model="course.automatic" prepend-icon="sync"
                                      label="Режим с поддержкой автовебинара [В тестировании. Просьба не нажимать, если не участвуете в тестировании]"></v-switch>
                            <span>Применяется при сохранении</span>
                        </v-tooltip>
                    </v-layout>
                    <v-btn @click="saveConfig">Сохранить настройки [Тестируется. При возникновении ошибок сообщить]
                    </v-btn>
                    <v-dialog v-model="cleanDialog" width="500">
                        <v-btn slot="activator">Очистка пользовательских данных</v-btn>
                        <v-card>
                            <v-card-title class="headline lighten-2">
                                Очистка <b style="color: darkred">&nbsp;ВСЕХ&nbsp;</b> пользовательских данных
                            </v-card-title>
                            <v-card-text>
                                <b style="color: darkred">ВНИМАНИЕ:</b><br>
                                Данное действие удалит ВСЕ пользовательские данные, связанные с курсом <a
                                    :href="course.origin">{{ course.origin }}</a>. Вы уверены?
                            </v-card-text>
                            <v-card-actions>
                                <v-btn flat @click="cleanDialog = false">Отмена</v-btn>
                                <v-btn flat @click="cleanAllData">Да, точно. Очистить.</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-dialog v-model="cleanSuccess" width="500">
                        <v-card>
                            <v-card-title class="headline">Очистка успешна!</v-card-title>
                            <v-card-actions>
                                <v-btn @click="cleanSuccess = false">OK</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-card-text>
            </v-card>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "ConfigPage",
        data() {
            return {
                course: {
                    origin: "N/A",
                    course_name: "N/A",
                    // hello_text: "N/A",
                    iframe_link: "N/A",
                    senler_group: "N/A",
                    senler_default_group: "N/A",
                    vk_msg_widget_id: "N/A",
                    theme: "default",
                    automatic: false,
                },
                themes: [
                    {value: "default", name: "Стандартная"},
                    {value: "old", name: "Старая"}
                ],
                cleanDialog: false,
                cleanSuccess: false
            }
        },
        methods: {
            saveConfig() {
                let data = new FormData();

                Object.keys(this.course).forEach((key) => {
                    let value = this.course[key];
                    if (key === "automatic")
                        value = (value ? 1 : 0).toString();
                    data.append("config[" + key + "]", value);
                });

                data.append("password", this.$store.state.password);
                data.append("origin", this.$store.state.course.origin);

                fetch(this.$store.state.api_origin + "/admin/post/saveConfig.php", {
                    method: "post",
                    body: data
                });
            },
            cleanAllData() {
                let data = new FormData();

                data.append("origin", this.course.origin);
                data.append("password", this.$store.state.password);

                fetch(this.$store.state.api_origin + "/admin/post/cleanCourse.php", {
                    method: "post",
                    body: data
                })
                    .then(resp => resp.json())
                    .then(json => {
                        this.cleanSuccess = true;
                    })
            }
        },
        created() {
            fetch(this.$store.state.api_origin + "/admin/get/configToEdit.php?password=" + this.$store.state.password
                + "&origin=" + this.$store.state.course.origin)
                .then(resp => resp.json())
                .then(json => {
                    json.automatic = parseInt(json.automatic);
                    this.course = json;
                })
        }
    }
</script>

<style scoped>

</style>
