<template>
    <v-container>
        <v-layout column align-stretch>
            <v-tooltip bottom>
                <v-layout column align-stretch slot="activator">
                    <v-btn round @click.stop="loadData">
                        <v-icon>cloud_download</v-icon>
                    </v-btn>
                </v-layout>
                <span>Очистить изменения и скачать текущую версию теста.</span>
            </v-tooltip>
            <v-card>
                <v-container>
                    <v-layout column align-stretch>
                        <v-text-field label="Название" v-model="config.title"></v-text-field>
                        <v-text-field label="Минимальный результат для зачёта" v-model="config.min_win"></v-text-field>
                        <v-select :items="tasksList" item-text="title" item-value="task_id" v-model="config.min_task" label="Минимальная задача для прохождения теста"></v-select>
                        <v-text-field label="Группа Senler при успехе" v-model="config.senler_ok"></v-text-field>
                        <v-text-field label="Группа Senler при неудаче" v-model="config.senler_not_ok"></v-text-field>
                    </v-layout>
                </v-container>
            </v-card>
            <TestEditCard v-for="question in questions" :key="'q' + question.question_id + questions.indexOf(question)"
                          :question="question" v-on:delete="removeQuestion(question)" :newAId="newAId" v-on:newAns="newAId = newAId + 1"></TestEditCard>
            <v-btn round @click.stop="appendQuestion">
                <v-icon>add</v-icon>
            </v-btn>
            <v-btn round @click.stop="saveData">
                <v-icon>save</v-icon>
            </v-btn>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "TestEditPage",
        data() {
            return {
                questions: [{
                    title: "Модель вопроса. Если вы это видите, настоящий тест ещё не прогрузился. Проверьте своё интернет-соединение.",
                    question_id: 1,
                    answers: [
                        {
                            answer_id: 1,
                            text: "Answer 1",
                            is_correct: true
                        },
                        {
                            answer_id: 2,
                            text: "Answer 2",
                            is_correct: false
                        },
                        {
                            answer_id: 3,
                            text: "Answer 3",
                            is_correct: false
                        },
                    ]
                },],
                newQId: null,
                newAId: null,
                config: {
                    title: "",
                    min_win: "",
                    min_task: "",
                    senler_ok: "",
                    senler_not_ok: ""
                },
                tasksList: []
            }
        },
        components: {
            TestEditCard: () => import(/* webpackChunkName: 'TestEditCard' */ "../components/TestEditCard")
        },
        methods: {
            appendQuestion() {
                this.questions.push({
                    text: "",
                    question_id: this.newQId++,
                    answers: []
                })
            },
            removeQuestion(question) {
                this.questions.splice(this.questions.indexOf(question), 1);
            },
            loadData() {
                fetch(this.$store.state.api_origin + "/admin/get/test.php?password=" + this.$store.state.password
                    + "&origin=" + this.$store.state.course.origin)
                    .then(resp => resp.json())
                    .then(json => {
                        this.newAId = parseInt(json.max_aid);
                        this.newQId = parseInt(json.max_qid);
                        this.config = json.config;
                        this.tasksList = json.tasks;
                        json.questions.forEach((v, i, a) => {
                            a[i].answers.forEach((v, i, a) => {
                                a[i].is_correct = parseInt(v.is_correct);
                            })
                        });
                        this.questions = json.questions;
                    });
            },
            saveData() {
                let body = new FormData;
                body.append("test", JSON.stringify(this.questions));
                body.append("password", this.$store.state.password);
                body.append("origin", this.$store.state.course.origin);
                body.append("config", JSON.stringify(this.config));

                fetch(this.$store.state.api_origin + "/admin/post/saveTest.php", {
                    method: "post",
                    body: body
                })
                    .then(resp => resp.text())
                    .then(() => {});
            }
        },
        watch: {},
        mounted() {
            this.loadData();
        }
    }
</script>

<style scoped lang="scss">
    .v-card.v-sheet {
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }
</style>
