<template>
    <v-container>
        <v-layout column align-stretch>
            <v-layout row align-center>
                <v-flex xs3>
                </v-flex>
                <v-flex xs6>
                    <v-text-field label="Поиск" solo prepend-inner-icon="search" autofocus
                                  v-model="searchString" xs11></v-text-field>
                </v-flex>
                <v-flex xs1></v-flex>
                <v-flex xs2>
                    <v-switch v-model="phones" label="Только с телефонами" prepend-icon="phone"></v-switch>
                </v-flex>
            </v-layout>
            <v-layout column align-stretch>
                <v-layout row v-for="user in users" :key="user.vk_uid" align-stretch>
                    <v-flex xs12>
                        <v-card>
                            <v-card-text>
                                <v-layout row align-center>
                                    <a :href="'https://vk.com/id' + user.vk_uid">
                                        <v-avatar><img
                                                :src="user.avatar_uri || 'https://vk.com/images/camera_200.png?ava=1'"
                                                alt=""></v-avatar>
                                    </a>
                                    <span>{{ user.name }}</span>
                                    <div v-if="user.email"><a :href="'mailto:' + user.email">{{ user.email }}</a></div>
                                    <div v-if="user.phone"><a :href="'tel:' + user.phone">Тел: {{ user.phone }}</a>
                                    </div>
                                    <v-spacer></v-spacer>
                                    <v-btn icon title="Сбросить результаты теста для этого пользователя"
                                           @click.stop="resetTest(user)">
                                        <v-icon>loop</v-icon>
                                    </v-btn>
                                    <v-btn icon @click.stop="su(user.vk_uid)" title="Зайти от имени пользователя">
                                        <v-icon>open_in_new</v-icon>
                                    </v-btn>
                                    <v-btn icon @click.stop="startPasswordReset(user)" title="Сбросить пароль">
                                        <v-icon>lock_open</v-icon>
                                    </v-btn>
                                </v-layout>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex xs0 row>
                        <v-btn icon fab @click.stop="switchDone(user)">
                            <v-icon>{{ parseInt(user.done) ? 'done' : 'close' }}</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-spacer></v-spacer>
                    <v-pagination v-model="page" :length="max_page"></v-pagination>
                    <v-spacer></v-spacer>
                </v-layout>
            </v-layout>
        </v-layout>
        <v-snackbar v-model="resetTestSnackBar.show" :timeout="resetTestSnackBar.timeout" bottom right>
            Тест успешно сброшен для пользователя {{ resetTestSnackBar.name }}
        </v-snackbar>
        <v-dialog v-model="passwordModal" width="500">
            <v-card class="mb-0">
                <v-card-title class="headline">Пароль был сброшен.</v-card-title>
                <v-card-text>Новый пароль: {{ newPassword }}</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1 white--text" @click="passwordModal = false">OK</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="passwordConfirmModal" width="500">
            <v-card class="mb-0">
                <v-card-title class="headline">Точно сбросить пароль?</v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1 white--text" @click="resetPassword(passwordResettingUser)">Да</v-btn>
                    <v-btn color="green darken-1 white--text" @click="passwordConfirmModal = false">Нет</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    export default {
        name: "UsersPage",
        data() {
            return {
                searchString: "",
                users: [],
                resetTestSnackBar: {
                    show: false,
                    timeout: 5000,
                    name: "%Имя%",
                },
                phones: false,
                page: 1,
                max_page: 1,
                waiter: null,
                passwordModal: false,
                passwordConfirmModal: false,
                passwordResettingUser: null,
                newPassword: ""
            }
        },
        methods: {
            loadData() {
                fetch(this.$store.state.api_origin + "/admin/get/usersFilter.php?password=" + this.$store.state.password +
                    "&filter=" + this.searchString + "&phones=" + (this.phones ? "required" : "") + "&page=" + this.page + "&origin=" + this.$store.state.course.origin)
                    .then(resp => {
                        return resp.json()
                    }).then(json => {
                    if (json.result === "unauthorized")
                        return this.$store.commit("LOGOUT");
                    this.users = json.users;
                    this.max_page = Math.ceil(json.count / 50);
                })
            },
            su(uid) {
                fetch(this.$store.state.api_origin + "/admin/get/generateToken.php?uid=" + uid + "&password=" + this.$store.state.password).then(resp => {
                    return resp.json()
                }).then(json => {
                    if (json.result === "unauthorized")
                        return this.$store.commit("LOGOUT");
                    open("http://" + this.$store.state.course.origin + "/?token=" + json.token, "loginWindow", "resizable,scrollbars,status,width=800,height=600");
                    setTimeout(() => {
                        open("http://" + this.$store.state.course.origin + "/?page=main", "_blank")
                    }, 10000)
                })
            },
            resetTest(user) {
                fetch(this.$store.state.api_origin + "/admin/get/resetTest.php?uid=" + user.vk_uid
                    + "&password=" + this.$store.state.password
                    + "&origin=" + this.$store.state.course.origin)
                    .then(resp => resp.json())
                    .then(() => {
                        this.resetTestSnackBar.show = true;
                        this.resetTestSnackBar.name = user.name;
                    })
            },
            switchDone(user) {
                let body = new FormData();

                body.append("password", this.$store.state.password);
                body.append("vk_uid", user.vk_uid);

                fetch(this.$store.state.api_origin + "/admin/post/switchDoneUser.php", {
                    method: 'post',
                    body: body
                })
                    .then(() => this.loadData());
            },
            resetPassword(user) {
                this.passwordConfirmModal = false;

                let body = new FormData();

                body.append("password", this.$store.state.password);
                body.append("email", user.email);

                fetch(this.$store.state.api_origin + "/admin/post/restorePassword.php", {
                    method: "post",
                    body: body
                }).then(resp => resp.json())
                    .then(json => {
                            this.passwordModal = true;
                            this.newPassword = (json["result"] === "OK" ? json["password"] : "Произошла ошибка");
                        }
                    )
            },
            startPasswordReset(user) {
                this.passwordResettingUser = user;
                this.passwordConfirmModal = true;
            }
        }
        ,
        watch: {
            searchString() {
                if (this.waiter === null) {
                    this.waiter = 0;
                    this.loadData();
                } else {
                    clearTimeout(this.waiter);
                    this.waiter = setTimeout(this.loadData, 700)
                }
            }
            ,
            phones() {
                this.loadData();
            }
            ,
            page() {
                this.loadData();
            }
        }
        ,
        mounted() {
            this.loadData();
        }
    }
</script>

<style scoped lang="scss">
    .v-card {
        margin-bottom: 3em;

        .v-card__text > .layout > * {
            margin-right: 1em;
        }
    }
</style>
