<template>
    <v-card>
        <v-card-text>
            <v-select v-model="filter.task_id"
                      :items="tasks"
                      item-value="task_id"
                      item-text="title"
                      label="Задача"
                      @change="emitChange"
            ></v-select>
            <v-select v-model="filter.state"
                      :items="states"
                      item-value="state"
                      item-text="title"
                      label="Состояние"
                      @change="emitChange"
            ></v-select>
        </v-card-text>
        <v-card-actions>
            <v-btn flat @click="deleteSelf">Удалить фильтр</v-btn>
            <v-btn flat @click="emitNewFilter">Добавить новый фильтр</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "FilterCard",
        props: ["filter", "tasks"],
        data: () => {
            return {
                states: [
                    {
                        state: -2,
                        title: "Не сдавалось"
                    },
                    {
                        state: -1,
                        title: "Доступ закрыт вручную"
                    },
                    {
                        state: 0,
                        title: "Доступ открыт вручную"
                    },
                    {
                        state: 1,
                        title: "Отправлено на проверку"
                    },
                    {
                        state: 2,
                        title: "Проверено и принято"
                    },
                    {
                        state: 3,
                        title: "Проверено и не принято"
                    },
                ]
            }
        },
        methods: {
            deleteSelf() {
                this.$emit("remove")
            },
            emitChange() {
                setTimeout(() => this.$emit('change'), 100)
            },
            emitNewFilter() {
                this.$emit("newFilter");
            }
        }
    }
</script>

<style scoped>

</style>
