<template>
    <v-card>
        <v-card-title>
            <div class="headline">{{ task.title }}</div>
        </v-card-title>
        <v-card-text>
            Количество людей, ожидающих проверки: {{ getState1 }}
            <v-textarea v-model="comment" label="Комментарий (пока без шаблонизации и %username%)"></v-textarea>
        </v-card-text>
        <v-card-actions>
            <v-btn @click.stop="massAccept()">Принять всем</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "MassAcceptCard",
        props: ["task"],
        data() {
            return {
                comment: ""
            }
        },
        methods: {
            massAccept() {
                let body = new FormData();
                body.append("password", this.$store.state.password);
                body.append("task_id", this.task.task_id);
                body.append("comment", this.comment);

                fetch(this.$store.state.api_origin + "/admin/post/massAccept.php", {
                    method: "post",
                    body: body
                }).then(resp => {
                    return resp.json();
                }).then(() => {
                    this.$emit("submit");
                })
            }
        },
        computed: {
            getState1() {
                for (let i = 0; i < this.task.stats.length; i++) {
                    if (this.task.stats[i].state === "1")
                        return this.task.stats[i].cnt;
                }
                return 0;
            },
        }
    }
</script>

<style scoped>

</style>
