<template>
    <v-container>
        <v-card>
            <v-card-title>
                <div class="headline">Информация</div>
            </v-card-title>
            <v-card-text class="text-xs-justify">
                Все фильтры применяются одновременно, т.е. выбранные в итоге пользователи будут удовлетворять всем
                указанным в фильтрах условиям.

                <br><br>
                <small>Данный функционал протестирован и работает на простых случаях. Возможны неудобства при
                    использовании. Если таковые будут, прошу сообщить.
                </small>
            </v-card-text>
        </v-card>
        <FilterCard
                v-for="filter in filters"
                :key="filters.indexOf(filter)"
                :tasks="tasks"
                :filter="filter"
                @remove="removeFilter(filter)"
                @change="showUsersList()"
                @newFilter="appendFilter"
        ></FilterCard>
        <v-card>
            <v-card-title>
                <div class="headline">Управление</div>
            </v-card-title>
            <v-card-text>
                <div>
                    Количество выбранных пользователей: {{ users.length }}
                </div>
                <v-select
                        :items="tasks"
                        v-model="taskToAccept"
                        item-value="task_id"
                        item-text="title"
                        label="Задача, к которой будет применено действие"
                ></v-select>
                <v-select
                        :items="states"
                        v-model="newState"
                        item-value="state_id"
                        item-text="state_text"
                        label="Новое состояние, которое будет применено к выбранным пользователям на выбранной задаче"
                ></v-select>
                <v-textarea label="Комментарий" v-model="comment" box></v-textarea>
            </v-card-text>
            <v-card-actions>
                <v-dialog v-model="usersListDialog">
                    <v-btn flat @click="showUsersList" slot="activator">Отобразить список пользователей</v-btn>
                    <v-card>
                        <v-card-title>
                            <div class="headline">Список ID выбранных пользователей</div>
                        </v-card-title>
                        <v-card-text>
                            <span v-for="user in users" :key="user.vk_uid">{{ user.vk_uid }}<br></span>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn flat @click="usersListDialog = false">Закрыть</v-btn>
                            <v-btn flat @click="copyUsers">Скопировать</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="showConfirmDialog">
                    <v-btn flat slot="activator">Применить действие</v-btn>
                    <v-card>
                        <v-card-title>
                            <div class="headline">Подтвердите применение действия</div>
                        </v-card-title>
                        <v-card-text>
                            <span>Вы точно уверены?</span>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn flat @click="showConfirmDialog = false">Нет, отменить</v-btn>
                            <v-btn flat @click="setStateForChosenTask">Да, точно</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="showOKDialog">
                    <v-btn flat slot="activator">Успешно!</v-btn>
                    <v-card>
                        <v-card-title>
                            <div class="headline">Изменения применены успешно.</div>
                        </v-card-title>
                        <v-card-actions>
                            <v-btn flat @click="showConfirmDialog = showOKDialog = false">ОК</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-btn flat @click="appendFilter">Добавить фильтр</v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</template>

<script>
    import {objectToForm} from "object-to-form"
    import copy from "clipboard-copy"

    export default {
        name: "MassAccept",
        data() {
            return {
                filters: [
                    {}
                ],
                tasks: [],
                taskToAccept: null,
                users: [],
                usersListDialog: false,
                showConfirmDialog: false,
                showOKDialog: false,
                ticker: null,
                comment: "",
                newState: 2,
                states: [
                    {
                        state_id: -1,
                        state_text: "Доступ закрыт"
                    },
                    {
                        state_id: 0,
                        state_text: "Доступ открыт"
                    },
                    {
                        state_id: 1,
                        state_text: "На проверке"
                    },
                    {
                        state_id: 2,
                        state_text: "Принято"
                    },
                    {
                        state_id: 3,
                        state_text: "Отклонено"
                    },
                ]
            }
        },
        methods: {
            loadData() {
                fetch(this.$store.state.api_origin + "/admin/get/tasks_for_edit.php?password=" + this.$store.state.password
                    + "&origin=" + this.$store.state.course.origin).then(resp => {
                    return resp.json()
                }).then(json => {
                    if (json.result === "unauthorized")
                        return this.$store.commit("LOGOUT");
                    this.tasks = [];
                    for (let key in json.tasks) {
                        this.tasks.push(json.tasks[key]);
                    }
                })
            },
            appendFilter() {
                this.filters.push({
                    state: 1,
                    task_id: this.tasks[0].task_id
                })
            },
            removeFilter(filter) {
                this.filters.splice(this.filters.indexOf(filter), 1);
            },
            showUsersList() {
                let data = {
                    origin: this.$store.state.course.origin,
                    password: this.$store.state.password,
                    filters: this.filters
                };

                fetch(this.$store.state.api_origin + "/admin/post/mass_filter.php", {
                    method: "post",
                    body: objectToForm(data)
                }).then(resp => {
                    return resp.json()
                }).then(json => {
                    if (json.result === "unauthorized")
                        return this.$store.commit("LOGOUT");
                    this.users = json.users;
                })
            },
            setStateForChosenTask() {
                let data = objectToForm({
                    origin: this.$store.state.course.origin,
                    password: this.$store.state.password,
                    newState: this.newState,
                    filters: this.filters,
                    task_id: this.taskToAccept,
                    comment: this.comment
                });

                fetch(this.$store.state.api_origin + "/admin/post/massAccept.php", {
                    method: "post",
                    body: data
                }).then(resp => {
                    return resp.json()
                }).then(json => {
                    if (json.result === "unauthorized")
                        return this.$store.commit("LOGOUT");
                    if (json.result === "OK")
                        this.showOKDialog = true;
                })
            },
            copyUsers() {
                let text = "";
                // eslint-disable-next-line no-unused-vars
                this.users.forEach((v, k, a) => {
                    text += v.vk_uid + "\n";
                });
                copy(text);
            }
        },
        watch: {},
        mounted() {
            this.ticker = setInterval(this.loadData, 60000);
            this.loadData();
        },
        beforeDestroy() {
            clearInterval(this.ticker);
            this.ticker = null;
        },
        components: {
            FilterCard: () => import(/* webpackChunkName: "FilterCard" */ "./FilterCard.vue")
        }
    }
</script>

<style scoped>
    .container > .v-card {
        margin-bottom: 3em;
    }
</style>
