<template>
    <v-container>
        <v-card>
            <v-card-title>
                <div class="headline">
                    Скачать таблицу по сдаче задач и теста участниками курса.
                </div>
            </v-card-title>
            <v-container>
                <div class="text-xs-justify">Процесс генерации таблицы занимает порядка 5 секунд.</div>
            </v-container>
            <v-card-actions>
                <v-btn box @click.stop="downloadCSV">Скачать статистику</v-btn>
                <v-container class="text-xs-justify">
                    <v-tooltip>
                        <v-btn slot="activator" box @click.stop="downloadFull">Скачать выгрузку [в разработке]</v-btn>
                        <span>Нажимать на свой страх и риск. Может не работать. Ничего сломать не должно.</span>
                    </v-tooltip>
                </v-container>
            </v-card-actions>
        </v-card>
        <v-card v-for="task in tasks" :key="task.task_id">
            <v-card-title>
                <div class="headline">{{ task.title }}</div>
            </v-card-title>
            <v-container>
                <v-layout column>
                    <v-layout v-for="state in task.stats" :key="task.task_id + ' ' + state.state" row align-center>
                        <div class="stats">
                            {{ state.cnt }}
                            <v-icon>{{ stateName(state.state) }}</v-icon>
                        </div>
                        <v-progress-linear :value="countPercents(task.stats, state.cnt)"
                                           height="20"></v-progress-linear>
                    </v-layout>
                </v-layout>
            </v-container>
        </v-card>
        <v-card>
            <v-card-title>
                <div class="headline">Тест</div>
            </v-card-title>
            <v-container>
                <v-layout column>
                    <v-layout v-for="state in test" :key="'testStat' + state.win" row align-center>
                        <div class="stats">
                            {{ state.cnt }}
                            <v-icon>{{ stateName(3 - state.win) }}</v-icon>
                        </div>
                        <v-progress-linear :value="countPercents(test, state.cnt)"
                                           height="20"></v-progress-linear>
                    </v-layout>
                </v-layout>
            </v-container>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "StatsPage",
        data() {
            return {
                tasks: [],
                test: [],
                ticker: null
            }
        },
        methods: {
            loadData() {
                fetch(this.$store.state.api_origin + "/admin/get/mass_tasks.php?password=" + this.$store.state.password
                    + "&origin=" + this.$store.state.course.origin)
                    .then(resp => {
                        return resp.json()
                    })
                    .then(json => {
                        if (json.result === "unauthorized")
                            return this.$store.commit("LOGOUT");
                        this.tasks = [];
                        for (let key in json.tasks)
                            this.tasks.push(json.tasks[key]);
                    });
                fetch(this.$store.state.api_origin + "/admin/get/testStats.php?password=" + this.$store.state.password
                    + "&origin=" + this.$store.state.course.origin)
                    .then(resp => resp.json())
                    .then(json => {
                        this.test = json.stats;
                    });
            },
            stateName(stateIdx) {
                return {"1": "access_time", "2": "check", "3": "close"}[stateIdx];
            },
            countPercents(stats, stat) {
                let sum = 0;
                stats.forEach((v) => {
                    sum += parseInt(v.cnt);
                });
                return Math.floor(parseInt(stat) / sum * 100);
            },
            intToString(intValue) {
                return intValue.toString();
            },
            downloadCSV() {
                open(this.$store.state.api_origin + '/admin/get/getStatsCSV.php?password=' + this.$store.state.password + "&origin=" + this.$store.state.course.origin, '_blank');
            },
            downloadFull() {
                open(this.$store.state.api_origin + '/admin/get/getFullData.php?password=' + this.$store.state.password + "&origin=" + this.$store.state.course.origin, '_blank');
            }
        },
        mounted() {
            this.ticker = setInterval(this.loadData, 60000);
            this.loadData();
        },
        beforeDestroy() {
            clearInterval(this.ticker);
            this.ticker = null;
        }
    }
</script>

<style scoped lang="scss">
    .v-card {
        margin-bottom: 3em;
    }

    .stats {
        width: 6em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .v-icon {
            margin: 0 0.5rem;
        }
    }
</style>
