<template>
    <v-card>
        <v-card-title primary-title>
            <v-layout row align-center justify-start>
                <v-avatar><img :src="avatar_uri" alt=""></v-avatar>
                <a :href="vk_uri">{{ task.name }}</a>
                <v-spacer></v-spacer>
                {{ task.title }}
            </v-layout>
        </v-card-title>
        <v-container text-xs-left>
            <pre style="white-space: pre-wrap; overflow-x: auto; word-wrap: break-word;">{{ task.submitted_text }}</pre>
            <a :href="fileLink" v-if="task.filename" download>{{ urldecode(task.filename) }}</a>
            <v-textarea v-model="comment" label="Комментарий"></v-textarea>
        </v-container>
        <v-card-actions>
            <v-btn flat @click="acceptTask">Принять</v-btn>
            <v-btn flat @click="rejectTask">Отклонить</v-btn>
            <v-spacer></v-spacer>
            <pre>{{ task.ts }}</pre>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "TaskCard",
        props: ["task"],
        data() {
            return {
                comment: ""
            }
        },
        computed: {
            fileLink() {
                let href = this.$store.state.api_origin + '/download.php?filename=files/uploaded/'
                    + this.task.vk_uid + '/'
                    + this.task.task_id + '/'
                    + this.urldecode(this.task.filename);
                return href;
            },
            avatar_uri() {
                if (this.task.avatar_uri)
                    return this.task.avatar_uri;
                return "https://vk.com/images/camera_200.png?ava=1";
            },
            vk_uri() {
                if (this.task.vk_uid < 0)
                    return null;
                return "https://vk.com/id" + this.task.vk_uid;
            }
        },
        methods: {
            urldecode(str) {
                return decodeURIComponent((str + '').replace(/\+/g, '%20'));
            },
            acceptTask() {
                this.submitTask(2);
            },
            rejectTask() {
                this.submitTask(3);
            },
            submitTask(state) {
                let data = new FormData();
                data.append("password", this.$store.state.password);
                data.append("vk_uid", this.task.vk_uid);
                data.append("task_id", this.task.task_id);
                data.append("state", state);
                data.append("comment", this.comment);

                fetch(this.$store.state.api_origin + "/admin/post/submitTask.php", {
                    method: "post",
                    body: data
                }).then((response) => {
                    return response.json();
                }).then(() => {
                    this.$emit("submit");
                });
            }
        }
    }
</script>

<style scoped>
    .v-avatar {
        margin-right: 1em;
    }
</style>
