<template>
    <v-container>
        <TaskCard v-for="task in tasks" :task="task" :key="task.task_id" :showUploader="uploading === task.task_id"
                  v-on:submit="loadTasks" @reload="loadTasks" @switchUpload="uploading = task.task_id"></TaskCard>
    </v-container>
</template>

<script>
    export default {
        name: "TasksEdit",
        components: {
            TaskCard: () => import(/* webpackChunkName: 'TasksEdit/TaskCard' */ "./TasksEdit/TaskCard")
        },
        data() {
            return {
                tasks: [],
                uploading: null
            }
        },
        methods: {
            loadTasks() {
                fetch(this.$store.state.api_origin + "/admin/get/tasks_for_edit.php?password="
                    + this.$store.state.password
                    + "&origin=" + this.$store.state.course.origin
                ).then((response) => {
                    return response.json()
                }).then((json) => {
                    if (json.result === "unauthorized")
                        return this.$store.commit("LOGOUT");
                    this.tasks = json.tasks;
                })
            }
        },
        mounted() {
            this.loadTasks();
        }
    }
</script>

<style scoped>

</style>
