<template>
    <v-container>
        <v-text-field v-model="query" solo label="Поиск"></v-text-field>

        <TaskCard v-for="task in tasks" :task="task" v-on:submit="loadTasks"
                  :key="task.task_id + ' ' + task.vk_uid"></TaskCard>
        <v-pagination v-model="page" :length="length" @input="$vuetify.goTo(0, {duration: 600, easing: 'linear'})"></v-pagination>
    </v-container>
</template>

<script>
    import TaskCard from "../components/TaskCard"

    export default {
        name: "TasksCheck",
        components: {
            TaskCard: TaskCard
        },
        data() {
            return {
                page: 1,
                page_size: 10,
                length: 1,
                tasks: [],
                query: '',
                searchTicker: null
            }
        },
        methods: {
            loadTasks() {
                const pageSize = 10;
                let offset = pageSize * (this.page - 1);
                fetch(this.$store.state.api_origin + "/admin/get/tasks.php?password="
                    + this.$store.state.password + "&offset=" + offset
                    + "&origin=" + this.$store.state.course.origin
                    + "&length=" + this.page_size + '&query=' + this.query
                ).then((response) => {
                    return response.json()
                }).then((json) => {
                    if (json.result === "unauthorized")
                        return this.$store.commit("LOGOUT");
                    this.length = Math.ceil(parseInt(json.length) / this.page_size);
                    this.tasks = json.tasks;
                })
            }
        },
        mounted() {
            this.loadTasks();
        },
        watch: {
            page() {
                this.loadTasks();
            },
            query() {
                clearTimeout(this.searchTicker);
                this.searchTicker = setTimeout(this.loadTasks, 300);
            }
        }
    }
</script>

<style scoped>
    .v-card {
        margin-bottom: 3em;
    }
</style>
