<template>
    <v-card>
        <v-container>
            <v-layout column align-stretch>
                <v-layout row>
                    <v-text-field label="Текст вопроса" v-model="question.title"></v-text-field>
                    <!--<v-btn fab @click.stop="removeQuestion">-->
                        <!--<v-icon>delete</v-icon>-->
                    <!--</v-btn>-->
                </v-layout>
                <v-container>
                    <v-layout column align-stretch>
                        <v-card v-for="answer in question.answers"
                                :key="'ans' + answer.answer_id + question.answers.indexOf(answer)">
                            <v-container>
                                <v-layout column align-stretch>
                                    <v-text-field label="Текст ответа" v-model="answer.text"></v-text-field>
                                    <v-layout row align-center>
                                        <v-tooltip bottom>
                                            <v-switch slot="activator" v-model="answer.is_correct"
                                                      label="Верный ответ"></v-switch>
                                            <span>Верных ответов может быть сколько угодно.</span>
                                        </v-tooltip>
                                        <v-spacer></v-spacer>
                                        <!--<v-btn @click.stop="removeAnswer(answer)" fab>-->
                                            <!--<v-icon>delete</v-icon>-->
                                        <!--</v-btn>-->
                                    </v-layout>
                                </v-layout>
                            </v-container>
                        </v-card>
                        <v-btn @click.stop="appendAnswer" round>
                            <v-icon>add</v-icon>
                        </v-btn>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-container>
    </v-card>
</template>

<script>
    export default {
        name: "TestEditCard",
        props: ["question", "newAId"],
        methods: {
            appendAnswer() {
                this.question.answers.push({
                    answer_id: this.newAId,
                    text: "",
                    is_correct: false
                });
                this.$emit("newAns");
            },
            removeAnswer(answer) {
                this.question.answers.splice(this.question.answers.indexOf(answer), 1)
            },
            removeQuestion() {
                this.$emit("delete")
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>
    .v-card {
        margin-bottom: 2em;
    }
</style>