<template>
    <v-app :dark="$store.state.dark_theme">
        <v-navigation-drawer app v-model="leftDrawer">
            <v-list>
                <v-list-tile>
                    <v-list-tile-title>Выбрать режим:</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click.stop="switchPage('check')">
                    <v-list-tile-action>
                        <v-icon>done</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>Проверка задач</v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click.stop="switchPage('edit')">
                    <v-list-tile-action>
                        <v-icon>edit</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>Редактирование задач</v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click.stop="switchPage('editTest')">
                    <v-list-tile-action>
                        <v-icon>tune</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>Редактирование теста</v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click.stop="switchPage('mass')">
                    <v-list-tile-action>
                        <v-icon>done_all</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>Profi Internet <span style="color: darkred">(ТЕСТИРУЕТСЯ, ОПАСНО)</span></v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click.stop="switchPage('stats')">
                    <v-list-tile-action>
                        <v-icon>equalizer</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>Статистика</v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click.stop="switchPage('users')">
                    <v-list-tile-action>
                        <v-icon>group</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>Пользователи</v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click.stop="switchPage('testData')">
                    <v-list-tile-action>
                        <v-icon>assignment_turned_in</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>Данные теста</v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click.stop="switchPage('config')">
                    <v-list-tile-action>
                        <v-icon>settings</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>Настройки</v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app>
            <v-toolbar-side-icon @click.stop="leftDrawer = !leftDrawer" v-if="$store.state.state === 'main'">
                <v-icon>menu</v-icon>
            </v-toolbar-side-icon>
            <v-toolbar-title class="headline" :title="title">
                <v-menu v-model="showMenu" style="max-width: 800px;">
                    <v-tooltip bottom slot="activator">
                        <div slot="activator">{{ title }}</div>
                    <span>Нажми на меня, чтобы сменить курс</span>
                    </v-tooltip>
                    <v-list v-if="$store.state.config">
                        <v-list-tile v-for="course in $store.state.config.courses" :key="course.origin" @click="changeCourse(course)">
                            <v-list-tile-title>{{ course.course_name }}</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items hidden-sm-and-down>
                <v-btn icon flat @click="$store.commit('SWITCH_THEME')">
                    <v-icon>invert_colors</v-icon>
                </v-btn>
                <v-btn icon flat @click="$store.commit('LOGOUT')">
                    <v-icon>exit_to_app</v-icon>
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>

        <v-content>
            <LoginPage v-if="$store.state.state === 'unauthorized'"></LoginPage>
            <LoadingScreen v-else-if="!$store.state.loaded"></LoadingScreen>
            <ChooseCourseScreen v-else-if="$store.state.state === 'choose'"></ChooseCourseScreen>
            <MainScreen v-else></MainScreen>
        </v-content>
        <!--<v-footer app></v-footer>-->
    </v-app>
</template>

<script>
    import LoadingScreen from "./views/LoadingScreen";
    import LoginPage from "./views/LoginPage";
    import ChooseCourseScreen from "./views/ChooseCourseScreen";
    import MainScreen from "./views/MainScreen";

    export default {
        name: 'App',
        components: {
            LoadingScreen,
            LoginPage,
            ChooseCourseScreen,
            MainScreen
        },
        data() {
            return {
                leftDrawer: false,
                showMenu: false
            }
        },
        computed: {
            title() {
                if (this.$store.state.course === null)
                    return "Админка";
                return this.$store.state.course.course_name + " (" + this.$store.state.course.origin + ")";
            }
        },
        methods: {
            switchPage(page) {
                this.$store.commit("SWITCH_PAGE", page);
                this.leftDrawer = false;
            },
            changeCourse(course) {
                this.$store.commit("WRITE_COURSE", course.origin);
                this.$store.commit("WRITE_LOADED", false);
                setTimeout(() => this.$store.commit("WRITE_LOADED", true), 500)

            }
        },
        mounted() {
            this.$store.commit("INIT");
        }
    }
</script>

<style scoped lang="scss">
</style>
